---
import { type CollectionEntry, getCollection } from "astro:content";
import ArticleInfo from "@/components/ArticleInfo.astro";
import ArticleTags from "@/components/ArticleTags.astro";
import Layout from "@/layouts/Layout.astro";
import Licence from "@/components/License.astro";
import { Image } from "astro:assets";
import "@/styles/article.css";
import PageContainer from "@/components/PageContainer.astro";
import Nav from "@/components/Side/Nav.astro";
import TableOfContents from "@/components/TableOfContents.astro";
export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { title, description, heroImage, tags, license } = post.data;

const { Content, headings } = await post.render();
---

<Layout
	title={title}
	description={description}
	ogimage={heroImage?.src}
	slug={post.slug}
>
	<main class="w-full border-t border-outline">
		<PageContainer>
			{
				heroImage && (
					<Image
						src={heroImage}
						class="hero-image"
						alt={`img of ${title}`}
						loading="eager"
						format="avif"
						width={1000}
					/>
				)
			}
			<article
				class="prose w-full max-w-none bg-surface-bright text-on-surface-bright"
			>
				<div>
					<ArticleInfo slug={post.slug} {...post.data} />
					<ArticleTags tags={tags} />
				</div>
				<div class="px-2 md:px-10">
					{
						headings.length > 5 && (
							<TableOfContents headings={headings} />
						)
					}
					<Content />
				</div>
				<Licence license={license} />
			</article>
		</PageContainer>
	</main>
	<div
		id="side"
		class="hidden pt-6 max-w-sm relative md:block bg-white basis-1/4 h-screen border-l border-outline top-0 sticky"
		slot="side"
	>
		<Nav />
	</div>
</Layout>
